@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-kreon: "Kreon", sans-serif;
}

@keyframes faixaAnimation {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.faixa {
  position: absolute;

  animation: faixaAnimation 5s linear infinite;
}
